# Logs
logs
*.log

# Dependency directories
node_modules/

# Build files
dist/
build/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Testing files
coverage/

# Miscellaneous
.DS_Store
Thumbs.db